<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.APK">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
    android:name="io.flutter.app.FlutterApplicaton"
    android:label="APK"
    <activity
    android:name ="MainActivity"
</manifest>
